body {
    text-align: center;
    font-weight: bolder;
    background-color: rgb(84 179 220);
}

h1 {
    color: blueviolet;
    font-weight: bolder;
    text-shadow: -2px 1px 2px rgb(167 143 190);
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: background-color 0.5s;
}

table, th, td {
    margin: auto;
}

td:hover {
    background-color: rgb(208, 255, 122);
    cursor: pointer;
}

td, .game-time, .smily-element, .lives {
    background-color: darkgray;
    border: rgb(214, 214, 214) 4px solid;
}

.smily-icon {
    position: relative;
    bottom: 10px;
}

.timer, .lives-counter {
    color: blueviolet;
}

.revealed-content {
    background-color: rgb(145, 145, 145);
    border: rgb(97, 97, 97) 4px solid;
}

.revealed-content:hover {
    background-color: rgb(145, 145, 145);
    cursor: default;
}

.game-time, .smily-element, .lives {
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    height: 40px;
    line-height: 20px;
}

button {
    margin-top: 15px;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid rgb(76, 88, 88);
}

.smily-element, button:hover {
    cursor: pointer;
}

.level-clicked {
    background-color: grey;
}

.game-over-modal {
    opacity: 0.7;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 3em;
    background-color: rgb(170, 109, 228);
    display: none;
    line-height: 90px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 40px;
    width: 300px;
    height: 200px;
    border-radius: 0.5em;
}

.game-over-modal button {
    border-radius: 7px;
}

/* .blow-up {
    background-image: url(../img/flam1.png);
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
} */

.footer {
    font-weight: bolder;
    position: relative;
    margin-top: 50px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}