body {
    text-align: center;
    font-weight: bolder;
    background-color: #F4EEFF;
    box-sizing: content-box;
}

h1 {
    font-family: cursive;
    font-size: 3em;
    color: #A6B1E1;
    text-shadow: -2px 1px 2px rgb(167 143 190);
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: background-color 0.5s;
}

table, th, td {
    margin: auto;
    border-radius: 7px;
}

table {
    border-spacing: 5px;
    border: 0ex;
}

td:hover {
    background-color: #BEAEE2;
    cursor: pointer;
}

td{
    background-color: #DCD6F7;
    border: rgb(214, 214, 214) 4px solid;
}

.smily-element{
    padding: 10px;

}
.smily-icon {
    font-size: 2.5em;
}

.timer, .lives-counter, .current-score-view{
    color: #94a3e4;
}

.revealed-content {
    background-color: #A6B1E1;
    border: #424874 4px solid;
}

.revealed-content:hover {
    background-color: #A6B1E1;
    cursor: default;
}

.game-time, .lives,.current-score {
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
    height: 40px;
    line-height: 20px;
}

.best-scores {
    margin-top: 10px;
    display: inline-block;
}

.score {
    text-align: left;
}

.beginner-best-score, .medium-best-score, .expert-best-score {
    color: #94a3e4;
    text-align: right;
}

button {
    margin-top: 15px;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid #424874;
}

.smily-element, button:hover {
    cursor: pointer;
}

.level-clicked {
    background-color: #A6B1E1;
}

.game-over-modal {
    opacity: 0.7;
    color: #424874;
    font-weight: bolder;
    font-size: 3em;
    background-color: #A6B1E1;
    display: none;
    line-height: 90px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 40px;
    width: 300px;
    height: 200px;
    border-radius: 0.5em;
}

.game-over-modal button {
    border-radius: 7px;
    background-color: #F4EEFF;
}

.game-over-modal button:hover {
    font-weight: bolder;
    color: #424874;
}

.best-scors {
    margin-top: 20px;
    box-sizing: content-box;
    cursor: none;
}

.footer {
    font-weight: bolder;
    position: relative;
    margin-top: 50px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}